# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.todo-book.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\divad\programacion\todo-book\.idea\.idea.todo-book\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
